* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.container {
	max-width: 900px;
	margin: 0 auto;
	outline: 1px solid black; /* for debugging */
	height: 1000px;
	padding-top: 1px;
}
.flex-parent {
	display: flex;
	margin-top: 90px;
	outline: 1px solid blue; /* for debugging */
}
.flex-item {
	text-align: center;
	flex: 1 1 auto;
	padding: 0.5em;
	background-color: rgba(0, 100, 0, 0.1); /* for debugging */
	outline: 1px solid black; /* for debugging */
}
